body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #ccc;
    padding: 16px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #b83280;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #2eb67d;
    padding: 16px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #e11d64;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #0f5e8c;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #f97316;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

@media (min-width: 900px) {
    .content {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    aside {
        order:-1;
        flex: 1;
    }

    main {
        flex: 3;
    }
}

